<div class="nav">
  <div class="icons">
    <div class="title">
      <img class="logo" src="assets/images/dolar.png" alt="">
      <h1>Personal Finance</h1>
    </div>
    <div class="user">
      <h4>Hello, {{userName}}!</h4>
      <img (click)="userBox($event)" class="user_img" src="assets/images/user.png" alt="">
    </div>
  </div>
  <div *ngIf="userArea" class="userArea">
    <li class="account-options"><a routerLink="/update">Update account</a></li>
    <li class="account-options" (click)="logout($event)"><a>Logout</a></li>
    <li class="account-options"><a id="delete" (click)="deleteBoxOn($event)">Delete account</a></li>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/transaction">Transactions</a></li>
      <li><a routerLink="/category">Categories</a></li>
    </ul>
  </nav>
</div>
<div *ngIf="deleteArea" class="deleteAccount">
  <div class="deleteBox">
    <h2>Are you sure you want</h2>
    <h2>to delete this account?</h2>
    <div class="buttons" >
      <button id="deleteButton" (click)="deleteAccount($event)">Delete</button>
      <button (click)="deleteBoxOff($event)">Cancel</button>
    </div>
  </div>
</div>
