<div class="nav">
  <div class="icons">
    <div class="title">
      <img class="logo" src="assets/images/dolar.png" alt="">
      <h1>Personal Finance</h1>
    </div>
    <div class="user">
      <h4>Hello, Kelly!</h4>
      <img (click)="userBox($event)" class="user_img" src="assets/images/user.png" alt="">
    </div>
  </div>
  <div *ngIf="isAlive" class="userArea">
    <li class="account-options"><a routerLink="/update">Update account</a></li>
    <li class="account-options"><a>Logout</a></li>
    <li class="account-options"><a id="delete">Delete account</a></li>
  </div>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/transaction">Transactions</a></li>
      <li><a routerLink="/category">Categories</a></li>
    </ul>
  </nav>
</div>
