<div class="home">
  <navigation></navigation>
  <div class="content">
    <div class="content_body">
      <div class="content_principal">
        <div class="amount">
          <h2>Available amount</h2>
          <h3>$3.000,00</h3>
          <h4>Updated at 16:32pm</h4>
        </div>
        <div class="transaction">
          <h2>Last transaction</h2>
          <h3>Type:</h3>
          <h4>Deposit</h4>
          <h3>Amount:</h3>
          <h4>$30,00</h4>
          <h3>Category:</h3>
          <h4>Food</h4>
          <h3>Date:</h3>
          <h4>02/10/2024 at 16:59pm</h4>
        </div>
      </div>
      <div class="graphAmount">
        <h2>Amount variation</h2>
        <canvas *ngIf="isBrowser"
        baseChart
        type="line"
        [options]="lineChartOptions"
        [data]="lineChartData">
        </canvas>
      </div>
    </div>
    <div class="graphCategory">
      <h2>Amount by category</h2>
      <canvas *ngIf="isBrowser"
      baseChart
      type="doughnut"
      [options]="doughnutChartOptions"
      [data]="doughnutChartData"
      (mouseleave)="perCentLeave($event)">
      </canvas>
      <div id="donutCenterText"></div>
    </div>
  </div>
</div>
