.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.content_body{
  display: flex;
  flex-direction: column;
}

.content_principal {
  display: flex;
  flex-direction: row;
}

.amount {
  background: rgba(53,169,155,0.2);
  background: linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -webkit-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -moz-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 20rem;
  width: 24rem;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Roboto','Arial';
}

.amount h2 {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 10px;
}

.amount h3 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

.amount h4 {
  color: #ffffff;
  margin-left: 25px;
  font-size: 12px;
}

.transaction {
  background: #b97a3b;
  background: linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -webkit-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -moz-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  height: 20rem;
  width: 21.5rem;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Arial';
}

.transaction h2 {
  color:#ffffff;
  margin-bottom: 5px;
  margin-left: 25px;
}

.transaction h3 {
  color:#ffffff;
  margin-bottom: 0;
  margin-left: 25px;
}

.transaction h4 {
  color:#ffffff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
}

.noTransaction {
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noTransaction h3 {
  color: #ffffff;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

#warning{
  margin-top: 25%;
}

.graphAmount {
  background: #242931;
  height: 20rem;
  width: 47rem;
  border-radius: 30px;
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  font-family: 'Roboto', 'Arial';
}

.graphAmount h2 {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 20px;
}

.graphAmount canvas {
  width: 100%;
}

.graphCategory {
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 41.3rem;
  width: 30rem;
  border-radius: 30px;
  margin-top: 20px;
  font-family: 'Roboto', 'Arial';
}

.graphCategory h2 {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.graphCategory canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#donutCenterText {
  color: #ffffff;
  font-size: 70px;
  position: relative;
  margin-top: -285px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
