<div class="home">
  <navigation></navigation>
  <div class="content">
    <div class="content_body">
      <div class="content_principal">
        <div class="amount">
          <h2>Available amount</h2>
          <h3>${{availableAmount}}.00</h3>
          <h4>Updated at {{hours}}:{{minutes}}</h4>
        </div>
        <div class="transaction" *ngIf="isAliveLastTransaction">
          <h2>Last transaction</h2>
          <h3>Amount:</h3>
          <h4>${{lastTransaction?.amount}}.00</h4>
          <h3>Type:</h3>
          <h4>{{lastTransaction?.type}}</h4>
          <h3>Category:</h3>
          <h4>{{lastTransaction?.categoryModel?.name}}</h4>
          <h3>Date:</h3>
          <h4>{{lastTransaction?.date | date: 'dd/MM/yyyy HH:mm'}}</h4>
        </div>
        <div class="transaction" *ngIf="!isAliveLastTransaction">
          <h2>Last transaction</h2>
          <div class="noTransaction">
            <h3>There is no</h3>
            <h3>transaction yet.</h3>
          </div>
        </div>
      </div>
      <div class="graphAmount">
        <h2>Amount variation</h2>
        <canvas *ngIf="isBrowser"
        baseChart
        type="line"
        [options]="lineChartOptions"
        [data]="lineChartData">
        </canvas>
      </div>
    </div>
    <div class="graphCategory" *ngIf="isAliveLastTransaction">
      <h2>Amount by category</h2>
      <canvas *ngIf="isBrowser"
      baseChart
      type="doughnut"
      [options]="doughnutChartOptions"
      [data]="doughnutChartData"
      (mouseleave)="perCentLeave($event)">
      </canvas>
      <div id="donutCenterText"></div>
    </div>
    <div class="graphCategory" *ngIf="!isAliveLastTransaction">
      <h2>Amount by category</h2>
      <div class="noTransaction">
        <h3 id="warning">There is no</h3>
        <h3>transaction yet.</h3>
      </div>
    </div>
  </div>
</div>
