<div class="home">
  <div class="icons">
    <img class="img1" src="assets/images/dolar.png" alt="">
    <img class="img2" src="assets/images/user.png" alt="">
  </div>
  <nav class="navbar">
    <ul>
      <li><a>Home</a></li>
      <li><a>Transactions</a></li>
      <li><a>Categories</a></li>
    </ul>
  </nav>
  <div class="content">
    <div class="content_body">
      <div class="content_principal">
        <div class="amount"></div>
        <div class="transaction"></div>
      </div>
      <div class="graphAmount"></div>
    </div>
    <div class="graphCategory"></div>
  </div>
</div>