.transaction {
  background: #ffffff07;
  background: linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  background: -webkit-linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  background: -moz-linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 190px;
  width: 94%;
  border-radius: 30px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding-top:2px;
  display: flex;
  flex-direction: row;
}

.transaction h3 {
  color:#ffffff;
  margin-bottom: 25px;
  margin-left: 25px;
}

.transaction h4 {
  color:#ffffff;
  margin-bottom: 7px;
  margin-top: 0;
  margin-left: 25px;
}

button {
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #242931;
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-top: 120px;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

#update{
  background: rgba(53,169,155,0.2);
  background: linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -webkit-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -moz-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  margin-left: 295px;
  margin-right: 20px;
}

#update:hover {
  background: rgba(94, 250, 232, 0.2);
  background: linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  background: -webkit-linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  background: -moz-linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  cursor: pointer;
}

#delete {
  background: #b97a3b;
  background: linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -webkit-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -moz-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
}

#delete:hover {
  background: #e79849;
  background: linear-gradient(135deg,#e79849 0%, #ebae72 80%);
  background: -webkit-linear-gradient(135deg,#e79849 0%, #ebae72 80%);
  background: -moz-linear-gradient(135deg,#e79849 0%, #ebae72 80%);
  cursor: pointer;
}
