<navigation></navigation>
<div class="update">
  <div class="updateArea">
    <h2>Update account</h2>
    <div class="messages" *ngIf="errorMessageBox">
      <h4 *ngIf="!passwordMatch" >Password does not match.</h4>
      <h4 *ngIf="registrationFailed">Update failed!</h4>
    </div>
    <div id="successMessage" class="messages" *ngIf="successMessageBox">
      <h4>Update succeeded!</h4>
    </div>
    <form (submit)="onSubmit()">
      <div class="inputs">
        <input type="text" name="name" [(ngModel)]="name" placeholder="Name" required/>
        <input type="text" name="email" [(ngModel)]="email" placeholder="Email" required/>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required/>
        <input type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" placeholder="Confirm password" required/>
      </div>
      <button id="register" type="submit">Update</button>
    </form>
  </div>
</div>
