.categories {
  display: flex;
  flex-direction: row;
}

.add {
  background: #b97a3b;
  background: linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -webkit-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  background: -moz-linear-gradient(135deg,#b97a3b 0%, #f09a42 80%);
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 16rem;
  width: 25rem;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto','Arial';
}

.add h2 {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 20px;
}

.message {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -4%;
  margin-bottom: -4%;
  background-color: rgb(214, 181, 181);
  color: red;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  margin-top:2%;
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
}

.inputs input{
  padding-left: 10px;
  font-family: 'Roboto', 'Arial';
  height: 30px;
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 20px;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

.inputs select {
  color: #888;
  padding-left: 10px;
  font-family: 'Roboto', 'Arial';
  height: 30px;
  width: 63%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 20px;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

button {
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #242931;
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

#register:hover {
  background-color:  #3f4652;
  cursor: pointer;
}

#update {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 100px;
}

#update:hover {
  background-color:  #3f4652;
  cursor: pointer;
}

a {
  font-size: 13px;
  text-decoration: underline;
  color: #ffffff;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

.list {
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 47rem;
  width: 52rem;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', 'Arial';
  display: flex;
  flex-direction: column;
}

.list h2 {
  color: #ffffff;
  margin-left: 25px;
  margin-top: 20px;
}

.list-content {
  display: flex;
  justify-content: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.more {
  background: #ffffff07;
  background: linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  background: -webkit-linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  background: -moz-linear-gradient(135deg,#ffffff07 0%, #ffffff2c 80%);
  margin-top: auto;
  margin-right: 8px;
  margin-left: 707px;
  margin-bottom: 20px;
}

.more:hover {
  background-color: #ffffff36;
  cursor: pointer;
}

.noTransaction {
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noTransaction h3 {
  color: #ffffff;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.deleteCategory {
  background-color: #0000009a;
  position: relative;
  width: 81rem;
  margin-top: -940px;
  margin-left: -10px;
  padding-bottom: 500px;
  display: flex;
  justify-content: center;
}

.deleteBox {
  position: relative;
  height: 200px;
  width: 350px;
  margin-top: 19%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.deleteBox h2 {
  color: rgb(255, 75, 75);
  font-family: 'Roboto', 'Arial';
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 0px;
}

.buttonsDelete {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttonDeleteBox {
  background: rgba(53,169,155,0.2);
  background: linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -webkit-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -moz-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  color: #000000;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: 15px;
  border: 0;
}

.buttonDeleteBox:hover {
  background: rgba(94, 250, 232, 0.2);
  background: linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  background: -webkit-linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  background: -moz-linear-gradient(135deg,rgba(94, 250, 232, 0.2) 0%, #3fc7b7 80%);
  cursor: pointer;
}

#deleteButton {
  background: rgba(185, 122, 59, 0.11);
  background: linear-gradient(135deg,rgba(185, 122, 59, 0.11) 0%, #f09a42 80%);
  background: -webkit-linear-gradient(135deg,rgba(185, 122, 59, 0.11) 0%, #f09a42 80%);
  background: -moz-linear-gradient(135deg,rgba(185, 122, 59, 0.11) 0%, #f09a42 80%);
}

#deleteButton:hover {
  background: rgba(185, 122, 59, 0.034);
  background: linear-gradient(135deg,rgba(185, 122, 59, 0.034) 0%, #ebae72 80%);
  background: -webkit-linear-gradient(135deg,rgba(185, 122, 59, 0.034)0%, #ebae72 80%);
  background: -moz-linear-gradient(135deg,rgba(185, 122, 59, 0.034) 0%, #ebae72 80%);
  cursor: pointer;
}

