<div class="category">
  <navigation></navigation>
  <div class="categories">
    <div class="add">
      <h2>Add category</h2>
      <div class="inputs">
        <input type="text" placeholder="Name"/>
      </div>
      <button>Register</button>
    </div>
    <div class="list">
      <h2>Category list</h2>
      <div class="list_content">
        <div class="row">
          <category-list></category-list>
          <category-list></category-list>
          <category-list></category-list>
        </div>
        <div class="row">
          <category-list></category-list>
          <category-list></category-list>
          <category-list></category-list>
        </div>
        <div class="row">
          <category-list></category-list>
          <category-list></category-list>
          <category-list></category-list>
        </div>
      </div>
      <button id="more">More</button>
    </div>
  </div>
</div>

