.login {
  background: rgba(53,169,155,0.2);
  background: linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -webkit-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -moz-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  width: 27rem;
  height: 27rem;
  border-radius: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
}

img{
  width: 40%;
  height: 40%;
  margin-top: 6%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}

.message {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -7.45%;
  background-color: rgb(214, 181, 181);
  color: red;
  border-width: 1px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.inputs input{
  padding-left: 10px;
  font-family: 'Roboto', 'Arial';
  height: 30px;
  width: 45%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 20px;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

button {
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #242931;
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

button:hover {
  cursor: pointer;
}

a {
  font-size: 13px;
  text-decoration: underline;
  color: #ffffff;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}


