<div class="transaction">
  <navigation></navigation>
  <div class="transactions">
    <div class="add">
      <h2 *ngIf="isAliveRegister" >Add transaction</h2>
      <h2 *ngIf="isAliveUpdate" >Update transaction</h2>
      <div class="inputs">
        <input type="text" placeholder="Amount"/>
        <select>
          <option value="" disabled selected hidden>Type</option>
          <option value="1">Deposit</option>
          <option value="2">Cash</option>
        </select>
        <select>
          <option value="" disabled selected hidden>Category</option>
          <option *ngFor="let category of categories; index as i" [value]="i+1">{{category.name}}</option>
        </select>
        <input type="textArea" placeholder="Description"/>
      </div>
      <button id="register" *ngIf="isAliveRegister">Register</button>
      <button id="update" *ngIf="isAliveUpdate">Update</button>
      <a (click)="returnRegister($event)" *ngIf="isAliveUpdate" >Return</a>
    </div>
    <div class="list">
      <div class="filter">
        <h2>Transaction history</h2>
        <button id="all" (click)="listAll($event)">All</button>
        <form (submit)="listByCategory()">
          <button id="by-category" type="submit">By category</button>
          <select id="category" name="categoryOption" [(ngModel)]="categoryOption">
            <option value="" disabled selected hidden>Category</option>
            <option *ngFor="let category of categories; index as i" [value]="i+1">{{category.name}}</option>
          </select>
        </form>
      </div>
      <transaction-list *ngFor="let transaction of transactions; index as i" (updateEvent)="update()"  [transaction]="transactions[i]"></transaction-list>
      <div class="buttons">
        <button *ngIf="isAlivePrevious" class="more" (click)="previousCategories($event)">Previous</button>
        <button *ngIf="isAliveNext" class="more" (click)="nextCategories($event)">Next</button>
      </div>
    </div>
  </div>
</div>
