.transactions {
  display: flex;
  flex-direction: row;
}

.list {
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 40rem;
  width: 40rem;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  background: rgba(53,169,155,0.2);
  background: linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -webkit-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  background: -moz-linear-gradient(135deg,rgba(53,169,155,0.2) 0%, #35a99b 80%);
  box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 16px 47px -6px rgba(0,0,0,0.75);
  height: 30rem;
  width: 30rem;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.inputs {
  margin-top:8%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.inputs input{
  padding-left: 10px;
  font-family: 'Roboto', 'Arial';
  height: 30px;
  width: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 20px;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

button {
  font-family: 'Roboto', 'Arial';
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  background-color: #242931;
  border: 0;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -webkit-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
  -moz-box-shadow: 11px 9px 28px -9px rgba(0,0,0,0.74);
}

